<.header>
  Edit Mail <%= @mail.id %>
  <:subtitle>Use this form to manage mail records in your database.</:subtitle>
</.header>

<.mail_form changeset={@changeset} action={~p"/mails/#{@mail}"} />

<.back navigate={~p"/mails"}>Back to mails</.back>
